# OS X
.DS_Store
 
# Xcode
*.xccheckout
*.DS_Store
*xcuserdata*
*build*
.idea
 
!*/xcshareddata/*
*.xccheckout
*/xcuserdata/*
 
# fastlane
fastlane/report.xml
fastlane/*report*
*app.dSYM.zip
 
# sonar
*sonar-reports*
*compile_commands.json
